@tailwind base;
@tailwind components;
@tailwind utilities;

.title {
  font-weight: 700;
  font-size: 64px;
  line-height: 60px;
  color: #555555;
}

.login-bg {
  background-image: url("../images/Login-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Dashboard */

* {
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1.2fr 4fr;
  /* grid-gap: 20px; */
}

.side-bar {
  /* width: 250px; */
  height: 100vh;
  background-color: #fafffc;
}

.title-small {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: rgba(68, 68, 68, 0.8);
}

.dashboard-nav {
  background-color: #fafffc;
}

#card {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
