@tailwind base;
@tailwind components;
@tailwind utilities;

.title {
  font-weight: 700;
  font-size: 64px;
  line-height: 60px;
  color: #555555;
}

.login-bg {
  background-image: url("../images/Login-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Dashboard */

* {
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 4.2fr;
  /* grid-gap: 20px; */
}

.side-bar {
  /* width: 250px; */
  height: 100vh;
  background-color: #fafffc;
}

.title-small {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: rgba(68, 68, 68, 0.8);
}

.dashboard-nav {
  background-color: #fafffc;
}

#card {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

#user-card {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#user-card:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

/* reusable components */

@layer components {
  .table-hover {
    @apply hover:tw-bg-slate-100;
  }
  .router-link-hover {
    @apply tw-fill-[#777777] hover:tw-text-[#009779] hover:tw-border-[#009779] hover:tw-bg-[#92ffe9] hover:tw-fill-[#009779];
  }
  .router-link-active {
    @apply tw-text-[#009779] tw-border-[#009779] tw-border-l-4 tw-bg-[#92ffe9] tw-fill-[#009779];
  }
  .progress-status {
    @apply tw-bg-[#007c92] tw-text-white tw-text-xs tw-py-1 tw-px-3 tw-font-extrabold tw-rounded-[30px];
  }
  .confirmation-in-progress {
    @apply tw-py-5 tw-text-[#278de1] tw-text-xs tw-font-extrabold;
  }
  .admitted-status {
    @apply tw-bg-[#009779] tw-text-white tw-text-xs tw-py-1 tw-px-3 tw-font-extrabold tw-rounded-[30px];
  }
  .confirmation-admitted {
    @apply tw-py-5 tw-text-[#009779] tw-text-xs tw-font-extrabold;
  }
  .declined-status {
    @apply tw-bg-[#8c1515] tw-text-white tw-text-xs tw-py-1 tw-px-3 tw-font-extrabold tw-rounded-[30px];
  }
  .confirmation-declined {
    @apply tw-py-5 tw-text-[#8c1515] tw-text-xs tw-font-extrabold;
  }
}
